---
---

// add bootstrap variable settings here

@import 'bootstrap';


// add more css stuff here

body {
  padding-top: 50px;
}

.content {
  padding: 5px 15px;
}

#sidebar {
  padding: 5px 15px;
}
