<!-- Footer
================================================== -->
<footer class="bs-footer" role="contentinfo">
  <div class="container">
    <ul class="footer-links muted">
      <li>© 2015-2016 <a href="http://mobdevgroup.com">移动开发在线分享</a></li>
      <li>&middot;</li>
      <li>Powered by <a href="https://yuxingxin.com">yuxingxin.com</a></li>
    </ul>
  </div>
</footer>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/assets/js/jquery.min.js"></script>
<script src="/dist/js/bootstrap.min.js"></script>
<script src="/assets/js/docs.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){

      $("div.content a").each(function(){
          $(this).attr('target', '_blank');
      });
      $("div.col-md-9 a").each(function(){
          $(this).attr('target', '_blank');
      });
 });
</script>
