<div id="navbar" class="collapse navbar-collapse">
  <ul class="nav navbar-nav">
    {% if {{page.path}} == '' %}
    <li class="active"><a href="http://www.mobdevgroup.com">资源归档</a></li>
    {% else %}
    <li ><a href="http://www.mobdevgroup.com">资源归档</a></li>
    {% endif %}

    {% if {{page.path}} contains 'dev-tools' %}
    <li class="active"><a href="/DevTools">开发工具资源</a></li>
    {% else %}
    <li><a href="/DevTools">开发工具资源</a></li>
    {% endif %}

    {% if {{page.path}} contains 'mob-design' %}
    <li class="active"><a href="/MobDesign">移动设计资源</a></li>
    {% else %}
    <li><a href="/MobDesign">移动设计资源</a></li>
    {% endif %}

    {% if {{page.path}} contains 'android-resources' %}
    <li class="active"><a href="/AndroidResources">Android资源</a></li>
    {% else %}
    <li><a href="/AndroidResources">Android资源</a></li>
    {% endif %}

    {% if {{page.path}} contains 'ios-resources' %}
    <li class="active"><a href="/IOSResources">IOS资源</a></li>
    {% else %}
    <li><a href="/IOSResources">IOS资源</a></li>
    {% endif %}

    {% if {{page.path}} contains 'html5-resources' %}
    <li class="active"><a href="/Html5Resources">Html5资源</a></li>
    {% else %}
    <li><a href="/Html5Resources">Html5资源</a></li>
    {% endif %}

    <li><a href="#">项目管理</a></li>
    <li><a href="#">关于我们</a></li>
  </ul>
</div>
