<div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
    <div class="list-group">
      <a href="#" class="list-group-item active">开发工具</a>
      <a href="/tools/android" class="list-group-item">Android开发工具</a>
      <a href="/tools/ios" class="list-group-item">IOS开发工具</a>
      <a href="/tools/frontend" class="list-group-item">前端开发工具</a>
      <a href="/tools/web" class="list-group-item">Web开发工具</a>
      <a href="/tools/assistant" class="list-group-item">辅助开发工具</a>
    </div>
    <div class="list-group">
      <a href="#" class="list-group-item active">移动设计</a>
      <a href="/design/android" class="list-group-item">Android设计指南</a>
      <a href="/design/ios" class="list-group-item">IOS设计指南</a>
      <a href="/design/site" class="list-group-item">移动设计资源站</a>
    </div>
    <div class="list-group">
      <a href="#" class="list-group-item active">Android</a>
      <a href="/platform/android/resources" class="list-group-item">资源站</a>
      <a href="/platform/android/blog" class="list-group-item">开发者博客</a>
      <a href="/platform/android/library" class="list-group-item">第三方开源库</a>
      <a href="/platform/android/project" class="list-group-item">开源项目</a>
      <a href="/platform/android/article" class="list-group-item">技术博文</a>
    </div>
    <div class="list-group">
      <a href="#" class="list-group-item active">IOS</a>
      <a href="/platform/ios/resources" class="list-group-item">资源站</a>
      <a href="/platform/ios/blog" class="list-group-item">开发者博客</a>
      <a href="/platform/ios/library" class="list-group-item">第三方开源库</a>
      <a href="/platform/ios/project" class="list-group-item">开源项目</a>
      <a href="/platform/ios/article" class="list-group-item">技术博文</a>
    </div>
    <div class="list-group">
      <a href="#" class="list-group-item active">Html5</a>
      <a href="/platform/html5/resources" class="list-group-item">资源站</a>
      <a href="/platform/html5/blog" class="list-group-item">开发者博客</a>
      <a href="/platform/html5/library" class="list-group-item">第三方开源库</a>
      <a href="/platform/html5/project" class="list-group-item">开源项目</a>
      <a href="/platform/html5/article" class="list-group-item">技术博文</a>
    </div>
    <div class="list-group">
      <a href="#" class="list-group-item active">项目开发</a>
      <a href="/project/manage" class="list-group-item">项目管理</a>
      <a href="/project/network" class="list-group-item">网络编程</a>
      <a href="/project/pattern" class="list-group-item">设计模式</a>
      <a href="/project/algorithm" class="list-group-item">算法</a>
    </div>
  </div>
