<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8">
   <title>{{ page.title }} - {{ site.title }}</title>

   <link rel="stylesheet" type="text/css" href="{{ site.path }}/css/style.css" >
   <script src="{{ site.path }}/js/jquery-1.11.3.min.js"></script>
   <script src="{{ site.path }}/js/bootstrap.min.js"></script>

</head>
<body>
  <a href="https://github.com/MobDevGroup"><img style="position: absolute; top: 0; right: 0; border: 0;z-index: 9999" src="https://camo.githubusercontent.com/e7bbb0521b397edbd5fe43e7f760759336b5e05f/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677265656e5f3030373230302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png"></a>
  <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ site.path }}">{{ site.title }}</a>
        </div>
        {% include navbar.html %}
        <!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">
      <div class="row row-offcanvas row-offcanvas-right">
        <div class="col-xs-12 col-sm-9">
        <div class="content">
          <div class="jumbotron">
            <h1>开源, 分享</h1>
            <p>专注于移动平台资源整理和分享，节省开发者寻找的时间，同时分类整理浏览器里那些杂乱的书签，欢迎和我们一样喜欢开源和分享的朋友加入</p>
            <p><a class="btn btn-primary btn-lg" href="https://github.com/MobDevGroup" role="button">了解更多</a></p>
          </div>

          <div class="row">
            <div class="col-sm-6 col-md-4">
              <div class="thumbnail">
                <img src="..." alt="Android">
                <div class="caption">
                  <h3>Android</h3>
                  <p>整理和汇总Android开发中优秀的开发工具、设计网站、优秀资源网站、优秀个人开发者及其博客、优秀开源项目、优秀第三方开源库、优秀技术博文，我们希望更多的开发者加入，节省我们寻找优秀资源的时间</p>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-4">
              <div class="thumbnail">
                <img src="..." alt="IOS">
                <div class="caption">
                  <h3>IOS</h3>
                  <p>整理和汇总IOS开发中优秀的开发工具、设计网站、优秀资源网站、优秀个人开发者及其博客、优秀开源项目、优秀第三方开源库、优秀技术博文，我们希望更多的开发者加入，节省我们寻找优秀资源的时间</p>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-4">
              <div class="thumbnail">
                <img src="..." alt="Html5">
                <div class="caption">
                  <h3>Html5</h3>
                  <p>整理和汇总Html5开发中优秀的开发工具、设计网站、优秀资源网站、优秀个人开发者及其博客、优秀开源项目、优秀第三方开源库、优秀技术博文，我们希望更多的开发者加入，节省我们寻找优秀资源的时间</p>
                </div>
              </div>
            </div>
          </div>
          <!--
          {{ content }}
        -->
        </div>
      </div>
      <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
          <div class="list-group">
            <a href="#" class="list-group-item active">开发工具</a>
            <a href="/tools/android" class="list-group-item">Android开发工具</a>
            <a href="/tools/ios" class="list-group-item">IOS开发工具</a>
            <a href="/tools/frontend" class="list-group-item">前端开发工具</a>
            <a href="/tools/web" class="list-group-item">Web开发工具</a>
            <a href="/tools/assistant" class="list-group-item">辅助开发工具</a>
          </div>
          <div class="list-group">
            <a href="#" class="list-group-item active">移动设计</a>
            <a href="/design/android" class="list-group-item">Android官方设计</a>
            <a href="/design/ios" class="list-group-item">IOS官方设计</a>
            <a href="/design/site" class="list-group-item">移动设计网站</a>
          </div>
          <div class="list-group">
            <a href="#" class="list-group-item active">Android</a>
            <a href="/platform/android/resources" class="list-group-item">资源站</a>
            <a href="/platform/android/blog" class="list-group-item">个人开发者博客</a>
            <a href="/platform/android/library" class="list-group-item">第三方开源库</a>
            <a href="/platform/android/article" class="list-group-item">技术博文</a>
          </div>
          <div class="list-group">
            <a href="#" class="list-group-item active">IOS</a>
            <a href="/platform/ios/resources" class="list-group-item">资源站</a>
            <a href="/platform/ios/blog" class="list-group-item">个人开发者博客</a>
            <a href="/platform/ios/library" class="list-group-item">第三方开源库</a>
            <a href="/platform/ios/article" class="list-group-item">技术博文</a>
          </div>
          <div class="list-group">
            <a href="#" class="list-group-item active">Html5</a>
            <a href="/platform/html5/resources" class="list-group-item">资源站</a>
            <a href="/platform/html5/blog" class="list-group-item">个人开发者博客</a>
            <a href="/platform/html5/library" class="list-group-item">第三方开源库</a>
            <a href="/platform/html5/article" class="list-group-item">技术博文</a>
          </div>
          <div class="list-group">
            <a href="#" class="list-group-item active">项目开发</a>
            <a href="/project/manage" class="list-group-item">项目管理</a>
            <a href="/project/network" class="list-group-item">网络编程</a>
            <a href="/project/pattern" class="list-group-item">设计模式</a>
            <a href="/project/algorithm" class="list-group-item">算法</a>
          </div>
        </div>
      </div>

    </div><!-- /.container -->

    <footer style="width:100%;text-align:center">© 2015-2015 移动开发在线分享站 Powered by <a href="http://www.yuxingxin.com">yuxingxin.com</a></footer>

</body>
</html>
