<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8">
   <title>{{ page.title }} - {{ site.title }}</title>

   <link rel="stylesheet" type="text/css" href="{{ site.path }}/css/style.css" >

   <script src="{{ site.path }}/js/bootstrap.min.js"></script>
</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ site.path }}">{{ site.title }}</a>
        </div>
        {% include navbar.html %}
        <!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">
      <div class="content">
        {{ content }}
      </div>
    </div><!-- /.container -->

    <footer style="width:100%;text-align:center">© 2015-2015 移动开发在线分享站 Powered by <a href="http://www.yuxingxin.com">yuxingxin.com</a></footer>
</body>
</html>
