<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8">
   <title>{{ page.title }} - {{ site.title }}</title>

   <link rel="stylesheet" type="text/css" href="{{ site.path }}/css/style.css" >
   <script src="{{ site.path }}/js/jquery-1.11.3.min.js"></script>
   <script src="{{ site.path }}/js/bootstrap.min.js"></script>
   <script>
   var _hmt = _hmt || [];
   (function() {
     var hm = document.createElement("script");
     hm.src = "//hm.baidu.com/hm.js?1baef511ec02b161828057e1662b0a67";
     var s = document.getElementsByTagName("script")[0];
     s.parentNode.insertBefore(hm, s);
   })();
   </script>

<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"16"},"slide":{"type":"slide","bdImg":"5","bdPos":"right","bdTop":"100"}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>

</head>
<body>
  <a href="https://github.com/MobDevGroup"><img style="position: absolute; top: 0; right: 0; border: 0;z-index: 9999" src="https://camo.githubusercontent.com/e7bbb0521b397edbd5fe43e7f760759336b5e05f/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677265656e5f3030373230302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png"></a>
  <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ site.path }}">{{ site.title }}</a>
        </div>
        {% include navbar.html %}
        <!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">
      <div class="row row-offcanvas row-offcanvas-right">
        <div class="col-xs-12 col-sm-9">
        <div class="content">
          <div class="jumbotron">
            <h1>开源, 分享</h1>
            <p>专注于移动平台资源整理和分享，节省开发者寻找的时间，同时分类整理浏览器里那些杂乱的书签，欢迎和我们一样喜欢开源和分享的朋友加入</p>
            <p><a class="btn btn-primary btn-lg" href="https://github.com/MobDevGroup" role="button">了解更多</a></p>
          </div>

          <div class="row">
            <div class="col-sm-6 col-md-4">
              <div class="thumbnail content">
                <img src="/images/android.png" alt="Android">
                <div class="caption">
                  <h3>Android</h3>
                  <p>这里长期专注于整理和汇总Android开发中优秀的开发工具、设计网站、优秀资源网站、优秀个人开发者及其博客、优秀开源项目、优秀第三方开源库、优秀技术博文等。</p>
                  <p><a class="btn btn-default" href="https://github.com/MobDevGroup/AndroidResources" role="button">了解更多 »</a></p>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-4">
              <div class="thumbnail content">
                <img src="/images/ios.png" alt="IOS">
                <div class="caption">
                  <h3>IOS</h3>
                  <p>这里长期专注于整理和汇总IOS开发中优秀的开发工具、设计网站、优秀资源网站、优秀个人开发者及其博客、优秀开源项目、优秀第三方开源库、优秀技术博文等。</p>
                  <p><a class="btn btn-default" href="https://github.com/MobDevGroup/IOSResources" role="button">了解更多 »</a></p>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-4">
              <div class="thumbnail content">
                <img src="/images/html5.png" alt="Html5">
                <div class="caption">
                  <h3>Html5</h3>
                  <p>这里长期专注于整理和汇总Html5开发中优秀的开发工具、设计网站、优秀资源网站、优秀个人开发者及其博客、优秀开源项目、优秀第三方开源库、优秀技术博文等。</p>
                  <p><a class="btn btn-default" href="https://github.com/MobDevGroup/Html5Resources" role="button">了解更多 »</a></p>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-6 col-md-4">
              <div class="thumbnail content">
                <img src="/images/tool.png" alt="Android">
                <div class="caption">
                  <h3>工具</h3>
                  <p>这里整理移动开发中常用的开发工具，高效率的软件，以及项目管理相关的工具等，另外还会有各个平台开发工具经常使用的插件等，如果您遇到好的工具，也希望您推荐给我们。</p>
                  <p><a class="btn btn-default" href="https://github.com/MobDevGroup/DevelopmentTools" role="button">了解更多 »</a></p>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-4">
              <div class="thumbnail content">
                <img src="/images/design.png" alt="IOS">
                <div class="caption">
                  <h3>设计</h3>
                  <p>这里整理移动设计中的官方指南，还有一些国内外的素材网站，设计网站等，如图标、模板、原型等，还有那些创意的网站，当然我们也希望您推荐好的资源站点。</p>
                  <p><a class="btn btn-default" href="https://github.com/MobDevGroup/MobileDesign" role="button">了解更多 »</a></p>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-4">
              <div class="thumbnail content">
                <img src="/images/code.png" alt="Html5">
                <div class="caption">
                  <h3>开发</h3>
                  <p>这里整理和汇总项目开发中关于项目管理的问题，还有其他与编程密切相关领域，如网络、通信协议、代码管理、时间管理、工作流程、项目部署、项目发布等等。</p>
                  <p><a class="btn btn-default" href="https://github.com/MobDevGroup/ProjectDevelopment" role="button">了解更多 »</a></p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6 col-md-4">
              <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">微博</h3>
            </div>
            <div class="panel-body">
              <a href="http://weibo.com/mobdevgroup/">MobDevGroup</a>
            </div>
          </div>
          </div>

            <div class="col-sm-6 col-md-4">
              <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">微信订阅号</h3>
            </div>
            <div class="panel-body">
              <img src="/images/weixin.jpg" />            </div>
            </div>
            </div>

            <div class="col-sm-6 col-md-4">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">GitHub</h3>
                </div>
                <div class="panel-body">
                  <a href="http://github.com/mobdevgroup/">开源组织</a>
                </div>
              </div>
          </div>
        </div>
          <!--
          {{ content }}
        -->
        </div>
      </div>
      {% include sidebar.html %}
      </div>

    </div><!-- /.container -->

    <footer style="width:100%;text-align:center">© 2015-2015 移动开发在线分享站 Powered by <a href="http://www.yuxingxin.com">yuxingxin.com</a></footer>

</body>
</html>
